@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --fundo-cor: #1f242d;
    --segundo-fundo-cor: #323946;
    --texto-cor: #fff;
    --principal-cor: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--fundo-cor);
    color: var(--texto-cor);
}

section{
    min-height: 65vh;
    padding: 10rem 9% 2rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--fundo-cor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
   font-size: 3.5rem;
   color: var(--texto-cor);
   font-weight: 600;
   cursor: default;
   text-shadow: 1px 1px 5px var(--principal-cor); 
}

.barra-navegacao a {
    font-size: 1.7rem;
    color: var(--texto-cor);
    margin-left: 4rem;
    transition: .3s;

}

.barra-navegacao a:hover,
.barra-navegacao a.ativa {
    color: var(--principal-cor);
}

#menu-icone {
    font-size: 3.6rem;
    color: var(--texto-cor);
    display: none;
}

.inicio-img{
    width: 40%;
   
}


.foto-perfil{
    width: 100%;
    height: 50vh;
    border-radius: 10%;
    box-shadow: 3px 1px 15px var(--principal-cor);
}

.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio-conteudo{
    width: 45%;
    margin-right: 40px;
}
.inicio-conteudo h3{
    font-size: 3.2rem;
    font-weight: 700;

}

span{
    color: var(--principal-cor);
}
.inicio-conteudo h1{
    font-size: 5.3rem;
    font-weight: 700;
    line-height: 1.3rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inicio-conteudo p{
    font-size: 1.6rem;
}

.midia-social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--principal-cor);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--principal-cor);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.midia-social a:hover{
    background: var(--principal-cor);
    color: var(--segundo-fundo-cor);
    box-shadow: 0 0 1rem var(--principal-cor);
}

.butao{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--principal-cor);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--principal-cor);
    font-size: 1.6rem;
    color: var(--segundo-fundo-cor);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: 1s ease;

}

.butao:hover{
    box-shadow: none;
}

.cabecalho{
    margin-bottom: 5rem;
    text-align: center;
    font-size: 3.5rem;
}

.caixa-habilidade{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.caixa-habilidade .habilidades{
    flex: 1 1 30rem;
    background:transparent;
    padding: 3rem 2rem 4rem;
    text-align: center;
    transition: 1s ease;
}

.habilidades:hover {
    text-shadow: 1px 1px 10px var(--principal-cor);
    color: var(--principal-cor);
    transform: scale(1.3);
    
}

.habilidades i {
    font-size: 7rem;
    color: var(--principal-cor);

}

.habilidades h3{
    font-size: 2.6rem;
}

.projetos{
    background: var(--segundo-fundo-cor);
}

.projetos h2{
    margin-bottom: 6rem;
}

.projetos-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.projetos-container .projetos-caixa{
    width: 350px;
    height: 350px;
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--fundo-cor);
    overflow: hidden;
    display: flex;
}

.projetos-caixa img{
    width: 100%;
    transition: .5s ease;
}

.projetos-caixa:hover img{
    transform: scale(1.1);
}

.projetos-caixa .projeto-descricao{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--principal-cor));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.projetos-caixa:hover .projeto-descricao{
    transform: translateY(0);
}

.projeto-descricao h4{
    font-size: 3rem;
}

.projeto-descricao p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.projeto-descricao a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:  5rem;
    height: 5rem;
    background: var(--texto-cor);
    border-radius: 50%;
}

.projeto-descricao a i{
    font-size: 2rem;
    color: var(--segundo-fundo-cor);
}

.contato{
    text-align: center;
    height: 50px;
}

.contato h2{
    margin-bottom: 3rem;
}

.contato p{
    font-size: 2rem;
}