@media (max-width: 575px){
    body {
        max-width: 575px;
        background: var(--fundo-cor);
        color: var(--texto-cor);
    }

    .barra-navegacao{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding:  1rem 3%;
        background-color: var(--fundo-cor);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    }

    .barra-navegacao a {
        display: block;
        font-size: 2rem;
        color: var(--texto-cor);
        margin: 3rem;
        transition: .3s;
        background-color: var(--fundo-cor);
    }

    #menu-icone {
        display: inline;
        margin-left: 100px;
        font-size: 5.5rem;
        color: var(--texto-cor);
    }

    .inicio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .inicio-conteudo{
        width: 100%;
        margin: auto;

    }

    .inicio-conteudo h3{
        font-size: 3.2rem;
        font-weight: 700;
    
    }
    
    .inicio-conteudo h1{
        font-size: 5.5rem;
        font-weight: 700;
        line-height: 1.3rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .inicio-img{
        width: 100%;
    }
    
    .foto-perfil{
        width: 50vh;
        height: 50vh;
        border-radius: 50%;
        box-shadow: 3px 1px 15px var(--principal-cor);
        margin-top: 40px;
    }

    
}