@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --fundo-cor: #1f242d;
    --segundo-fundo-cor: #323946;
    --texto-cor: #fff;
    --principal-cor: #00eeff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--fundo-cor);
    color: var(--texto-cor);
}

section{
    min-height: 65vh;
    padding: 10rem 9% 2rem;
}

.header-pagina{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--fundo-cor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
   font-size: 3.5rem;
   color: var(--texto-cor);
   font-weight: 600;
   cursor: default;
   text-shadow: 1px 1px 5px white; 
}

.menus{
    font-size: 1.7rem;
    color: var(--texto-cor);
    margin-left: 4rem;
    transition: .5s ease;
}

.barra-navegacao a:hover,
.barra-navegacao a.ativa {
    font-size: 1.9rem;
    color: white;
    text-shadow: 1px 1px 5px white; 
}



#menu-icone {
    font-size: 3.6rem;
    color: var(--texto-cor);
    display: none;
}

#butao-fecha-menu{
    display: none;
    font-size: 3.6rem;
}

.botao-tema{
    position: absolute;
    top: 2px;
    right: 12px
}

.botao-tema-portatil{
    display: none;
}

#checkbox{
    opacity: 0;
}

#checkbox-portatil{
    opacity: 0;
}

.label{
    background-color: azure;
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 20px;
    width: 40px; 

}

.label .bola{
    background-color: var(--fundo-cor);
    border-radius: 50%;
    position: absolute;
    left: 1px;
    height: 18px;
    width: 20px;

    transform: translateX(0px);
    transition:  transform .2s linear;
}

#checkbox:checked + .label .bola{
    transform: translateX(18px);
}

#checkbox-portatil:checked + .label .bola{
    transform: translateX(18px);
}

.icone-lua{
    color: yellow;
}

.icone-sol{
    color: orange;
}

.inicio-img{
    width: 40%;
}

.floatImage { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}


.foto-perfil{
    width: 35vh;
    height: 50vh;
    border-radius: 10%;
    box-shadow: 3px 1px 15px white;
}

.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio-conteudo{
    width: 45%;
    margin-right: 40px;
}
.inicio-conteudo h3{
    font-size: 3.2rem;
    font-weight: 700;

}

span{
    color: #2C497F;
}

.inicio-conteudo-titulos{
    margin-bottom: 50px;
}

.inicio-conteudo h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3rem;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.conteudo-inicio-texto{
    margin-top: 30px;
}

.inicio-conteudo p{
    font-size: 1.6rem;
}

.midia-social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid #2C497F;
    border-radius: 50%;
    font-size: 2rem;
    color: #2C497F;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.midia-social a:hover{
    background: #2C497F;
    color: white;
    box-shadow: 0 0 1rem #2C497F;
}

.butao{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #2C497F;
    border-radius: 4rem;
    box-shadow: 0 0 1rem #2C497F;
    font-size: 1.6rem;
    color: var(--segundo-fundo-cor);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: 1s ease;

}

.butao:hover{
    box-shadow: none;
    color: white;
}

.cabecalho{
    margin-bottom: 5rem;
    text-align: center;
    font-size: 3.5rem;
}

.caixa-habilidade{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.caixa-habilidade .habilidades{
    flex: 1 1 30rem;
    background:transparent;
    padding: 3rem 2rem 4rem;
    text-align: center;
    transition: 1s ease!important;
}

.habilidades:hover {
    text-shadow: 1px 1px 10px #2C497F;
    color: #2C497F;
    transform: scale(1.4)!important;
    
}



.habilidades i {
    font-size: 7rem;
    color: #2C497F;
}

.imagem-habilidades{
    width: 6.7rem;
}


.habilidades h3{
    font-size: 2.6rem;
}

.projetos{
    background: var(--segundo-fundo-cor);
}

.projetos h2{
    margin-bottom: 6rem;
}

.projetos-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.projetos-container .projetos-caixa{
    width: 350px;
    height: 350px;
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--fundo-cor);
    overflow: hidden;
    display: flex;
}

.projetos-caixa img{
    width: 100%;
    transition: .5s ease;
}

.projetos-caixa:hover img{
    transform: scale(1.1);
}

.projetos-caixa .projeto-descricao{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), #2C497F);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 1s ease;
}

.projetos-caixa:hover .projeto-descricao{
    transform: translateY(0);
}

.projeto-descricao h4{
    font-size: 3rem;
}

.projeto-descricao p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.projeto-descricao a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:  5rem;
    height: 5rem;
    background: var(--texto-cor);
    border-radius: 50%;
}

.projeto-descricao a i{
    font-size: 2rem;
    color: var(--segundo-fundo-cor);
}

.contato{
    text-align: center;
    height: 50px;

}

.contato h2{
    margin-bottom: 5rem;

}

.contato p{
    font-size: 2rem;
    margin-bottom: 5rem;
}

.rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: var(--segundo-fundo-cor);
}



.rodape-texto p{
   font-size: 1.6rem;
   color: white;
}

.rodape-icone a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background-color: #2C497F;
    box-shadow: 0 0 1rem #2C497F;
    border-radius: .8rem;
    transition: .5s ease;
}

.rodape-icone a:hover{
    box-shadow: none;
}

.rodape-icone a i {
    font-size: 2.4rem;
    color: white;
    
}