@media (max-width: 751px){

    body {
        max-width: 751px;
        background: var(--fundo-cor);
        color: var(--texto-cor);
    }

    .barra-navegacao a {
        display: none;
        font-size: 1.7rem;
        color: var(--principal-cor);
        margin-left: 6rem;
        transition: .3s;
    
    }

    #menu-icone {
        display: inline;
        margin-left: 350px;
        font-size: 5.5rem;
        color: var(--texto-cor);
    }

    .foto-perfil{
        width: 29vh;
        height: 50vh;
        border-radius: 10%;
        box-shadow: 3px 1px 15px var(--principal-cor);
    }

    .inicio-conteudo{
        width: 60%;
        margin-right: 40px;
    }

    .inicio-conteudo h3{
        font-size: 3.2rem;
        font-weight: 700;
    
    }
    
    .inicio-conteudo h1{
        font-size: 5.5rem;
        font-weight: 700;
        line-height: 1.3rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    
    
}