.header-claro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: #2C497F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.tema-claro-corpo {
    background-color: white;
}

.inicio-conteudo-claro {
    color: black;
}

.contato-tema-claro {
    color: black;
}


.barra-navegacao-tema-claro {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background-color: #2C497F;
    border-top: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.menus-tema-claro {
    display: block;
    font-size: 2rem;
    color: var(--texto-cor);
    margin: 3rem;
    transition: .3s;
    background-color: #2C497F !important;
}